.footer {
  background-color: var(--background-dark-color);
}

.footer-container {
  padding: 60px 15px;

  @media screen and (max-width: 767px) {
    & {
      text-align: center;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    & {
      text-align: center;
      padding-left: 76px;
      padding-right: 89px;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      display: flex;
      align-items: baseline;
    }
  }
}

.footer-container-contacts {
  @media screen and (min-width: 768px) {
    & {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding-bottom: 60px;
    }
  }
}

.footer-contacts {
  @media screen and (max-width: 767px) {
    & {
      padding-bottom: 60px;
    }
  }
}

.footer-address {
  margin-top: 20px;
}

.footer-address-list__item:not(:first-child) {
  margin-top: 9px;
}

.footer-address-list__street {
  color: var(--primary-white-color);
}

.footer-address-list__contacts {
  color: var(--adress-white-color);
}

.footer-join {
  @media screen and (max-width: 767px) {
    & {
      padding-bottom: 60px;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      margin-left: 70px;
    }
  }
}
